body{
	background-color: #505050;
}

.text{
	color:#ffffff;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
}

#codeContainer{
	overflow-x: hidden;
	overflow-y: auto;
	height:542px;
	border:none;
	padding:none;
	margin:none;
}

#bfCode,#arrOut{
	background-color:#000000;
	border:none;
	width: 90%;
    display: block;
	word-wrap: normal;
	resize:none;
	outline:none;
	overflow:hidden;
}
#bfCode, #lineNo{
	height: 542px;
	white-space: pre;
	float:left;
}
#lineNo {
	background-color: #2f4f4f;
	width:40px;
	border:none;
	text-align: right;
}

#arrOut {
	width:300px;
	word-wrap: break-word;
	height: 200px;
	overflow: auto;
}

#console {
	display:block;
	white-space: pre;
	overflow: auto ;
	background-color: #000000;
}
